body {
  text-align: center;
  font-family: Arial;
  background: #f0f0f0;
  
}

button {
  background: blue;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#box {
  width: 150px;
  height: 150px;
  background: lightgray;
  border-radius: 10px;
   display: flex;
  align-items: center;
  justify-content: center;
}